# Ignore text file with plans for the project
plans.txt

# Environment file for all project-wide constants
.env

# Folder containing all used dependencies
node_modules

# Folder acting as a proxy for downloading images from Discord and uploading them to S3 bucket
downloads

# Files related to hosting Discord on AWS EC2 Instance
sase-pet-bot.pem
sase-pet-bot.ppk

# Folder for src files transpiled from ES6+ to ES5
lib